@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<WeatherForecast>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var item in @Model)
{
    <code>@item.Date - @item.Summary - @item.TemperatureC (@item.TemperatureF)</code>
}
